$blue-color: #1778F2;
$light-grey : #707070;
$white-color : #fff;
$bg-color : #ECECEC;
$green-color : #08AB49;
$black-color : #000;
$red : crimson;

$author-pub-color : ('live':#{$red}, 'camera':#{$green-color}, 'feeling':#8FA340);