::-webkit-scrollbar{
    height: 5px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 25px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 25px;
    height: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(22, 22, 65);
}
